<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106338101469-25vfda3qeifrom1edjvpv8i9osk49hqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106338101469-25vfda3qeifrom1edjvpv8i9osk49hqq</string>
	<key>API_KEY</key>
	<string>AIzaSyB_KyAraBoXnNKSHKu4JPl3pXEPFXFkuYw</string>
	<key>GCM_SENDER_ID</key>
	<string>106338101469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.soomgo-wecode-commute-app</string>
	<key>PROJECT_ID</key>
	<string>soomgocommuting</string>
	<key>STORAGE_BUCKET</key>
	<string>soomgocommuting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106338101469:ios:8edf3b5b459827a9d35334</string>
</dict>
</plist>